body{
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #333;
	letter-spacing: 0.5px;
	margin: 0 auto;	
}


*,
*:before,
*:after{
	box-sizing: border-box;
}

.head{
	max-width: 1440px;
	margin: 0 auto;
}

.lohaed {
	width: 100%;
	max-width: 1440px;
	height: 76px;
	margin: 15px 0 0 0;
	font-size: 14px;
}


.dohead{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #474747;
	user-select: none;
}

.logo{
	letter-spacing: 2px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.crl{
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background: rgb(8,3,101);
	background: linear-gradient(90deg, rgba(8,3,101,1) 50%, rgba(99,164,232,1) 50%);
	margin: 0 10px;
}

.nav{
	letter-spacing: 0.5px;
}

.headlink{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #333;
	transition: color .3s linear;
	transition: font-weight .3s;
	margin: 0 50px;
}

.headlink:hover, .headlink:active {
	color: #080365;
	font-weight: bold;
}


.first_cont{
	width: 100%;
	max-width: 1440px;
	height: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: -15px 0 0 0;
}

.p{
	font-size: 90px;
	width: 720px;
	font-weight: 700;
	line-height: 45px;
}

.span{
	text-shadow: -3px 3px #63A4E8;
}

.first_cont_img{
	width: 827px;
	z-index: -1;
}


.second_cont{
	height: 660px;
	width: 100%;
	background-color: #EEF7FF;
	-webkit-background-size: cover;
	background-size: cover;
}


.second_cont_double{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second_cont_img{
	width: 472px;
	z-index: -1;
	height: 669px;
}


.p2{
	width: 720px;
	font-size: 24px;
	letter-spacing: 7%;
	line-height: 35px;
}



.p2_2{
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: -15px 0 0 0;
}


.third_cont{
	width: 100%;
	max-width: 1440px;
	height: 631px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

}



.left_side{
	width: 720px;
}


.p3_1_1{
	font-size: 24px;
}


.p3_1_2{
	text-decoration: none;
	color: #333;
	transition: color 0.4s linear;
	font-size: 18px;
}


.p3_1_2: hover{
	color: #63A4E8;
}



.left_side_inner{
	letter-spacing: 7%;
}


.p3_1{
	line-height: 14px;
}



.last_cont{
	height: 100px;
	height: 660px;
	width: 100%;
	background-color: #EEF7FF;
	-webkit-background-size: cover;
	background-size: cover;
}


.last_cont_inner{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 20px;
	max-height: 400px;
}


.image{
	width: 720px;
}

.last_img{
	width: 400px;
	height: 400px;
	margin: 0 89px;
}


.last_text{
	width: 720px;
}


.text1{
	letter-spacing: 7%;
	font-size: 18px;
}


.text1-1{
	width: 720px;
	height: 70px;
	padding-top:50px ;
}



.icons1{
	display: inline-block;
	margin: 40px 30px 0 30px;

}